*
{
    box-sizing: border-box;
}

body {
  font-size: 16px;
  color: black;
  background-color: black;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #ffb13b;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: auto;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #E9E9E9;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: auto;
  line-height: .75;
  text-transform: uppercase;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #E9E9E9;
  text-align: center;
}
#nav-list a:hover {
  background: black;
}
#nav-list a span {
  font-size: 1.1em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.3px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */

h3{
    text-align: center;
    text-transform: uppercase;
    color: #ffb13b;
}

#p1Title, #p2Title, #p3Title {

    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
    width: auto;
    border: 3px solid black;    
    font-weight: bold;
    position: relative;
}

.cuadro{

    border:3px solid black;
    background-color: #7f7f7f;
    margin: 1.5%;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#p1Title, #p2Title, #p3Title{

  position: relative;
  margin-bottom: 3%;
  border: 0px;
  font-size: 1.2em;
  text-align: center;
}

#cuadro1, #cuadro2, #cuadro3{

    width: 100%;
    padding: 5%;
    text-align: justify;
    margin: 1.5%;
}

/* END HOME PAGE */
